!!! 5
%html
	%head
		%title Task Focus
		%link{ :href => 'css/main.css', :rel => 'stylesheet'}
	%body
		.wrapper
			.buttons
				%button.previous Previous
				%button.next Next
			.text
				%input{ :type => 'text'}


		%script{ :src => 'scripts/jquery/jquery-1.8.2.min.js'}
		%script{ :src => 'scripts/main.js'}